
.menuPrincipal {
    margin: 30px 50px 20px 50px;
}

.menuBtn {
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    transition: all ease-in 0.4s;
}

.menuBtn:hover {
    color: #b8332c;
}

.menuBtn.active {
    color: #b8332c;
}